[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "~=0.770"
django-stubs = "~=1.5.0"

[packages]
django = "~=3.1"
djangorestframework = "~=3.11.0"
pytest = "~=5.4.2"
pytest-django = "~=3.9.0"
black = "~=19.10b0"
django-environ = "~=0.4.5"
django-extensions = "~=2.2.9"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
